<div class="modal-header bg-primary text-white">
    <h4 class="modal-title" id="modal-basic-title">Create</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="walletModel" >
     
      <div class="form-group mt-3">
        <label>Name</label>
        <input
          type="text"
          required
  
          class="form-control"
          placeholder="Name"
          formControlName="name"
        />
      </div>

      <div class="form-group mt-3">
        <label>Amount</label>
        <input
          type="number"
          required
  
          class="form-control"
          placeholder="amount"
          formControlName="amount"
        />
      </div>    
  
      <div class="modal-footer mt-3">
        <button class="btn btn-primary mr-2" (click)="modal.dismiss('Cancel')">
          Cancel
        </button>
        <button type="submit" (click)="createWallet()" [disabled]="!walletModel.valid" 
        class="btn btn-success">Create</button>
      </div>
    </form>
  </div>
  