<div class="container" style="text-align:center;">
    <div class="text-center mt-4">
        <button class="btn btn-lg btn-success" (click)="createWallet()">
            Create
        </button>
    </div>
    
    <div *ngIf="wallets.length > 0" class="row text-center">
      <div class="col-sm-3 mt-4" *ngFor="let wallet of wallets">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{wallet.name}}</h3>
            <p class="card-text">Amount: {{wallet.amount}}</p>
          </div>
          <img class="card-img-bottom " src="../../assets/wallet.jpg" style="width: 299px; height: 150" alt="wallet">      
        </div>
        <div class="card-footer">
          <button class="btn btn-lg btn-primary" (click)="openInfo(wallet)">
            Details
          </button>
        </div>
      </div>
    </div>
</div>