<div class="row text-center">
  <h1>{{category}}</h1>

  <div class="mt-5">
    <table class="mt-5 table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Amount</th>
          <th scope="col">Category</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transfer of transfers; let i = index">
          <th scope="row">{{i}}</th>
          <td>{{transfer.amount}}</td>
          <td>{{transfer.category}}</td>
          <td>{{transfer.date | date:'mediumDate'}}</td>
        </tr>
      </tbody>
    </table>
  </div>     
</div>